.footer {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 60rem;
    background-color: #732727;

    font-size: 2rem;
    color: white;
}

.footer__linkContainer {
    display: flex;
    justify-content: space-between;
    width: 50rem;
}

.footer__link {
    text-decoration: none;
    color: white;
}